[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fitHeavyTail"]
	path = fitHeavyTail
	url = https://github.com/convexfi/fitheavytail
[submodule "intradayModel"]
	path = intradayModel
	url = https://github.com/convexfi/intradaymodel
